html{
	background: linear-gradient(70deg, plum 0, violet 35%, MediumOrchid 75%, purple 100%);
	background-size: cover;
	transition: background 1.5s ease-in-out;
}

html, body{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: url('../assets/banana.png');
}

.container{
	width: 70dvw;
	height: 80dvh;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	margin-bottom: 8px;
}

.esq{
	display: flex;
	width: 40%;
	height: 80%;
	flex-direction: column;
	text-align: center;
}

.cima{
	background-color: rgba(147, 112, 219, 0.2);
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px 0 0 0;
	transition: background-color 1.5s ease;
}

.cima input{
	height: 25px;
	border: none;
	border-radius: 8px;
	padding:10px;
}

.log{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	background: rgba(153,51,153, 0.1);
	border-radius: 15px;
	border-color: white;
	transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
	width: 18em;
	height: 2.5em;
}

.log:hover{
	background: rgba(255,255,255, 0.4);
    transform: scale(1.08);
}

.login-section {
  display: flex;
  align-items: center;
  flex-direction: line;
  gap: 10px;
}

.login-section input {
  width: 22em;
  height: 3em;
}

.input-field{
	position: relative;
	width: fit-content;
	margin-top: 10px;
}

.visibilidade {
    width: 18px;
    height: 18px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #666A79;
    flex: none;
    order: 0;
    flex-grow: 0;
    vertical-align: sub;
}

.input-group button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #666a79;
    font-size: 1.1rem;
}

.lembre{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.baixo{
	background-color: rgba(147, 112, 219, 0.2);
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 0 10px;
	transition: background-color 1.5s ease;
	box-shadow: 5px 8px 8px gray;
}


.dir{
	font-size: 14px;
	color: #666;
	width: 60%;
	height: 80%;
	border-radius: 0 10px 10px 0;
	background-color: white;
	justify-content: center;
	text-align: center;
	transition: background-color 1.5s ease;
	box-shadow: 5px 8px 8px gray;
}

.toggle-button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-radius: 100%;
	margin-top: 2px;
	right: 2px;
	width: 50px;
	height: 50px;
	background-color: white;
	border-color: white;
	transition: transform 0.5s ease;
}

.toggle-button:hover{
	
	cursor: pointer;
}

.modoClaroEscuro{
	position:fixed;
	right: 15px;
	top: 12px;
}

.azul{
	color: #125bb3;
}

#logo-ictilab-escuro{
	transition: background-color 3.5s ease;
}

footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #E8EEFA;
	text-align: center;
	font-size: 12px;
	color: #333;
	border-radius: 10px;
	transition: background-color 1.5s ease;
}

/*--------------------------- MODO ESCURO ---------------------------*/

html.dark-mode{
	cursor: url('assets/banana.png'), auto;
	background: no-repeat url('../assets/testefundoescuro.jpg');
	background-size: cover;
	transition: background 1.5s ease-in-out;
	color: white;
}

body.dark-mode .texto_exemplo, body.dark-mode .log{
	color: white;
}

body.dark-mode .dir{
	background-color: #323232;	
	color: white;
}

body.dark-mode .cima, body.dark-mode .baixo, body.dark-mode .rodape{
	background-color: rgba(220, 220, 220, 0.5);
	color: white;
}

body.dark-mode .toggle-button{
	background-color: #323232;
	border-color: #323232;
}

body.dark-mode .toggle-button img{
	filter: invert(100%);
}

body.dark-mode #cor_texto_link{
	color: white;
}