@media screen and (max-width: 865px) {
	
	.menu {
		display: block; /* mostra no celular */
		width: 10vw;
	}	
	
	header {
		flex-direction: column;   /* Header em coluna no celular */
		height: auto;
		padding: 10px;
		margin: -10px;
		position: relative; /* não fica fixo, evita sobrepor conteúdo */
	}

	nav ul {
		flex-direction: column;   /* Links um embaixo do outro */
		gap: 10px;
	}
	
	nav ul.head{
		animation-name: fechamento;
		animation-duration: 0.2s;
		display: none;
		flex-direction: column;
		background: #333;
		position: absolute;
		top: 60px;
		left: 10px;
		width: 150px;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	}

	@keyframes abertura {
		from {
			height: 200px;
			
		}
		
		to {
			height: 0px;
		}
	}
	
	nav ul.head li {
		margin: 10px 0;
	}
	
	nav ul.head.active {
		animation-name: abertura;
		animation-duration: 0.2s;
		display: flex;
	}
	
	@keyframes abertura {
		from {
			height: 0px;
			
		}
		
		to {
			height: 200px;
		}
	}

	.direita {
		width: 100%;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	
	.topo_dir{
		display: none;
		margin: auto;
		width: 18vw;
		flex-direction: row;
		align-items: stretch;
	}

	.busca {
		width: 70%;
	}

	.modoClaroEscuro {
		width: auto;
	}

	.container {
		flex-direction: column; /* cursos em coluna */
		align-items: center;
		margin-top: 1em; /* empurra para baixo */
	}

	.curso {
		width: 70%;     /* ocupa quase toda a largura no celular */
		height: 25vh;
		margin: 10px 0;
	}
	
	.curso:hover {
		width: 70%;     /* ocupa quase toda a largura no celular */
		height: 25vh;
		margin: 10px 0;
		-webkit-text-stroke-width: 0.5px;
		-webkit-text-stroke-color: white;
	}

	footer {
		font-size: 10px;
		flex-direction: column;
		text-align: center;
		padding: 5px;
		width: 98%;
		position: fixed; /* no celular, deixa o footer normal */
		bottom: 0;
	}
}
