body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('3.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

i{
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-size: 20px;
  color: #fff;
}

.chat-container {
  width: 360px;
  height: 640px;
  background: url('fundo.png') no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  color: white;
}

/* HEADER */
.chat-header {
  background: #202c33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.contact-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 8px;
  height: 40px;
}

.icons span {
  margin-left: 12px;
  cursor: pointer;
}

.chat-messages i{
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-size: 15px;
  color: #fff;
  flex: none;
	display: flex;
  order: 0;
  flex-grow: 0;
}

.chat-messages::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(1, 1, 1, 0.6);
    outline: none;
}

.chat-messages::-webkit-scrollbar-thumb {
    width: 0.5em;
    background-color: lightgray;
    outline: none;
}

/* INFO BOX */
.info-box {
  background: #182229;
  color: #aaa;
  font-size: 12px;
  padding: 8px;
  text-align: center;
}

/* DATE BOX */
.date-box {
  background: #2a3942;
  color: #ccc;
  font-size: 12px;
  padding: 4px 10px;
  margin: 10px auto;
  border-radius: 8px;
}

/* CHAT MESSAGES */
.chat-messages {
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.msg {
  max-width: 75%;
  padding: 6px 10px;
  margin: 6px 0;
  border-radius: 8px;
  position: relative;
  font-size: 14px;
}

.msg.received {
  background: #202c33;
  align-self: flex-start;
}

.msg.sent {
  background: #005c4b;
  align-self: center;
  margin-left: auto;
}

.msg .time {
  font-size: 10px;
  color: #bbb;
  margin-left: 6px;
}

/* QUOTED MESSAGE */
.msg.quoted {
  
  
}

.quote {
	padding-left: 6px;	
	border-left: 3px solid #34b7f1;
	font-size: 12px;
	color: #34b7f1;
}

.quote .small {
  color: #ccc;
  font-size: 11px;
}

/* INPUT BOX */
.input-box {
  background: #202c33;
  display: flex;
  padding: 8px;
}

.input-box input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.send-btn {
  background: none;
  border: none;
  color: #00a884;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}